<div class="containerr">
  <div class="row">
    <div class="col-sm-12 col-md-2">
      <ion-button (click)="playAudio(idioma, audios[0])" [style.background-image]="'url(./../../../assets/' + folderUrl + '/1.png)'" fill="clear" shape="round" class="buttons">
      </ion-button >
    </div>
    <div class="col-sm-12 col-md-2">
      <ion-button (click)="playAudio(idioma, audios[1])" [style.background-image]="'url(./../../../assets/' + folderUrl + '/2.png)'"  fill="clear" shape="round" class="buttons">
      </ion-button >
   </div>
    <div class="col-sm-12 col-md-2">
      <ion-button (click)="playAudio(idioma, audios[2])" [style.background-image]="'url(./../../../assets/' + folderUrl + '/3.png)'"  fill="clear" shape="round" class="buttons">
      </ion-button >
    </div>
    <div class="col-sm-12 col-md-2">
      <ion-button (click)="playAudio(idioma, audios[3])" [style.background-image]="'url(./../../../assets/' + folderUrl + '/4.png)'"  fill="clear" shape="round" class="buttons">
      </ion-button >
    </div>
    <div class="col-sm-12 col-md-2">
    <ion-button (click)="playAudio(idioma, audios[4])" [style.background-image]="'url(./../../../assets/' + folderUrl + '/5.png)'"  fill="clear" shape="round" class="buttons">
    </ion-button >
    </div>
  </div>
</div>
