<ion-content class="ion-content" [fullscreen]="true">
  <div class="container">
    <div class="title-container margin">
      <h1 class="title">¡Bienvenido!</h1>
      <p>¡Nunca les faltara diversion y aprendizaje!</p>
    </div>
    <div class="buttons-container">
      <ion-button (click)="OnFillFields('admin@admin.com', '111111')" expand="block" fill="clear" shape="round">
        1 <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="OnFillFields('invitado@invitado.com', '222222')" expand="block" fill="clear" shape="round">
        2 <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="OnFillFields('usuario@usuario.com', '333333')" expand="block" fill="clear" shape="round">
        3 <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="img-container margin">
      <img class="img-isotipo" src="./../../../assets/Isotipo_Black_NoBCK.svg" alt="login-img" />
    </div>
  
    <form [formGroup]="regForm" novalidate class="margin">
      <div class="form-container">
        <ion-item class="login-field">
          <ion-input type="text" placeholder="E-Mail" formControlName="email"></ion-input>
          <ion-icon slot="end" name="person"></ion-icon>
        </ion-item>
        <ion-item class="login-field">
          <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
        </ion-item>
      </div>
      <div class="button-container margin">
        <ion-button (click)="OnLoginClick()" expand="block" fill="clear" shape="round">
          Iniciar sesión
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
